#article {
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
    max-width: 1000px;
}

#article h1 {
    font-size: 1.5rem;
}

#article h2 {
    font-size: 1.2rem;
    color: #aaaa;
}

#article p {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: justify;
}

#article img {
    width: 50%;
    margin-left: 0.5rem;
    float: right;
}

@media (max-width: 600px) {
    #article img {
        width: 100%;
        margin: auto;
        float: none;
    }
}
