.topic-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: max-content;
    border: 1px solid var(--primary-colour);
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    padding: 0.5rem;
}

.topic-tile h2 {
    font-size: 1.6rem;
}

.topic-tile p {
    width: 100%;
    height: 100%;
    text-align: left;
    color: var(--secondary-colour);
    font-size: 0.8rem;
}
