#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid white;
    background-color: #242424;
    box-shadow: 0 0 1rem 1rem #242424;
}

#header > * {
    margin: 0.5rem;
}
