#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid var(--primary-colour);
    background-color: var(--background-colour);
    box-shadow: 0 0 1rem 1rem var(--background-colour);
}

#header > * {
    margin: 0.5rem;
}
