#user-display {
    display: flex;
    align-items: center;
}

#user-display > h2 {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#avatar {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.5rem;
    border-radius: 1.25rem;
}
