:root {
    --background-colour: #242424;
    --primary-colour: rgba(255, 255, 255, 0.87);
    --secondary-colour: #777;
    --danger-colour: rgb(255, 20, 20);
    --accent-colour: #41458f;
    --on-accent-colour: white;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary-colour);
    background-color: var(--background-colour);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: clamp(16px, min(2vw, 2vh), 20px);
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.count {
    color: var(--secondary-colour);
}

a {
    color: var(--primary-colour);
}

a:hover {
    color: var(--primary-colour);
    text-shadow: 0 0 0.5rem var(--secondary-colour);
}

a:hover p {
    color: var(--primary-colour);
    text-shadow: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > * {
    max-width: 1000px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--accent-colour);
    color: var(--on-accent-colour);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: var(--on-accent-colour);
}
button:focus,
button:focus-visible {
    outline: 4px auto var(--secondary-colour);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-colour: #ffe;
        --primary-colour: #213547;
        --secondary-colour: #999;
        --danger-colour: rgb(255, 0, 0);
        --accent-colour: #646cff;
    }
    a:hover {
        color: #005;
    }
}
